<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<div x-data="{ dropdownOpen: false }" class="relative my-3">
  <button @click="dropdownOpen = !dropdownOpen" class="flex items-center focus:outline-none">
    <div class="w-12 h-12 rounded-full overflow-hidden mx-3">
      <img src="https://images.unsplash.com/photo-1610397095767-84a5b4736cbd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="" class="w-full h-full object-cover">
    </div>
    <p class="font-semibold dark:text-white text-white text-lg">
      <%= current_user.name %>
    </p>
  </button>
  <div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>
  <div x-show="dropdownOpen" class="absolute right-0 mt-2 py-2 w-48 bg-white rounded-md shadow-xl z-20">
    <%= link_to(new_post_path, class: "block px-4 py-2 text-sm capitalize text-gray-700 hover:bg-blue-500 hover:text-white") do %>
      新增文章
    <% end %>
    <%= link_to(edit_account_path(current_user.id), class: "block px-4 py-2 text-sm capitalize text-gray-700 hover:bg-blue-500 hover:text-white") do %>
      帳號管理
    <% end %>
    <%= link_to(logout_path, method: "delete", class: "block px-4 py-2 text-sm capitalize text-gray-700 hover:bg-blue-500 hover:text-white") do %>
      登出
    <% end %>
  </div>
</div>
